<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="formGroup">

    <mat-form-field style="width: 100%">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Nom et prénom" formControlName="nom" >
        <mat-error *ngIf="formGroup.get('nom').hasError('required')">
         Cettre réponse est <strong>requise</strong>
        </mat-error>
    
    </mat-form-field>

        <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput type="number" placeholder="5230" formControlName="roadnumber">
      <mat-error *ngIf="formGroup.get('roadnumber')?.hasError('required')">
        Le numéro de rue est <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.get('roadnumber')?.hasError('min') || formGroup.get('roadnumber')?.hasError('max')">
        Le numéro de rue doit être entre <strong>1000 et 9999</strong>
      </mat-error>
    </mat-form-field>


   <mat-form-field style="width: 100%">
      <mat-label>Rue</mat-label>
      <input matInput type="text" placeholder="Resther" formControlName="rue">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput placeholder="H2J8B2" formControlName="postalcode">
      <mat-error *ngIf="formGroup.get('postalcode')?.hasError('pattern')">
        Format du code postal invalide (ex: A1A 1A1)
      </mat-error>
    </mat-form-field>

     <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput placeholder="Votre commentaire" formControlName="comments"></textarea>
      <mat-error *ngIf="formGroup.get('comments')?.hasError('minWords')">
        Le commentaire doit contenir au moins <strong>10 mots</strong>
      </mat-error>
      <mat-error *ngIf="formGroup.hasError('commentContainsName')">
        Le commentaire ne doit pas mentionner le <strong>nom</strong> de l’utilisateur
      </mat-error>
    </mat-form-field>

      <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" type="submit">
        Acheter
      </button>
    </mat-card-actions>
  </form>
</mat-card>